.map-style {
  transition: all $speed-md;

  &:hover {
    cursor: pointer;
    color: $black;
    background-color: $btn-default-light;
  }

  &-selected {
    border-color: var(--primary-color);
  }
}

.map-style-container{

 

  .map-style-image{
    width: 100%;
    height: 100%;
    border: 2px solid $dark;
    border-radius: $radius-lg;
    
    //smooth border on hover
    transition: all $speed-md;
  }

  .map-style-text{
    color: $black;
  }

  &:hover{
   
    cursor: pointer;
    
    .map-style-image{
      border: 2px solid $primary-color;
    }

    .map-style-text{
      color: $primary-color;
    }
  }
  


}



.mapboxgl-popup-close-button {

  padding: 1rem !important;
  font-size: x-large !important;
  color: $error-color;
}

.mapboxgl-popup-content {
  border-radius: $radius-lg;

}


.mapboxgl-popup-content {
  overflow: hidden;
  padding: 1rem !important;
}




