.map-style {
  transition: all $speed-md;

  &:hover {
    cursor: pointer;
    color: $black;
    background-color: $btn-default-light;
  }

  &-selected {
    border-color: var(--primary-color);
  }
}


.map-state {

  color: white;
  opacity: 0.9;
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;

  &-loading {
    background-color: white
  }

  &-error {
    background-color: $error-color;
  }
}



.mapboxgl-popup-close-button {

  padding: 1rem !important;
  font-size: x-large !important;
  color: $error-color;
}

.mapboxgl-popup-content {
  border-radius: $radius-lg;

}


.mapboxgl-popup-content {
  overflow: hidden;
  padding: 1rem !important;
}




