.card {
  background-color: $white;
  border-width: $border-width;
  border-style: solid;
  transition: all $speed-md;
  border-color: $light-gray;

  &-shadow {
		box-shadow: $card-shadow;
	}

}


.img-card {
	object-fit: cover;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	transition: transform $speed-md ease-in-out;
	box-shadow: $shadow-md;
	filter: saturate(0%);

	&-hasColor {
		filter: saturate(100%);
	}

	&-noHover {
		pointer-events: none;
	}

	&:hover {
		filter: opacity(1) saturate(110%);
	}

	&-scale {
		&:hover {

			transform: scale(1.1);
			filter: opacity(1) saturate(110%);
		}
	}

	&-xs {
		height: 10rem;
	}

	&-sm {
		height: 15rem;
	}

	&-md {
		height: 20rem;
	}

	&-lg {
		height: 25rem;
	}

	&-xl {
		height: 30rem;
	}

	&-2xl {
		height: 35rem;
	}

	&-3xl {
		height: 40rem;
	}

	&-4xl {
		height: 45rem;
	}

	&-screen {
		height: 100vh;
	}
}


.blur {
	filter: blur(8px);
	transition: all 1s;

	&:hover {
		filter: none;
	}

	&-none {
		filter: none;
	}
}