.card {
  border-radius: $radius-lg;
  box-shadow: $box-shadow;
  font-size: $font-size-md;
  line-height: $line-height-md;
  background-color: $white;
  border-width: $border-width;
  border-style: solid;
  transition: all $speed-md;



  &-header {
    padding: $paddings-md;
    border-bottom-width: $border-width;
    border-bottom-style: solid;
    border-bottom-color: $dark;
  }

  &-body {
    padding: $paddings-md;
  }

  &-footer {
    padding: $paddings-md;
    border-top-width: $border-width;
    border-top-style: solid;
    border-top-color: $dark;
  }

}