.alert {
  padding: $paddings-lg;
  text-align: left;
  border-radius: $radius-lg;

  &-error {
    color: $error-color;
    background-color: $error-color-light;
  }

  &-success {
    color: $success-color;
    background-color: $success-color-light;
  }

  &-info {
    color: $primary-color;
    background-color: $primary-color-light;
  }


}