.alert {
  padding: 1rem;
  text-align: left;
  border-radius: $radius-lg;
}

.alert-red {
  color: $error-color;
  background-color: $error-color-light;
}

.alert-green {
  color: $success-color;
  background-color: $success-color-light;
}