.bg-primary {
  background-color: var(--primary-color);
  color: white;
}

.bg-error {
  background-color: var(--error-color);
  color: white;
}

.bg-smoke {
  background-color: var(--smoke);
}

.bg-dark {
  background-color: var(--dark);
  color: white;
}