.bg-primary {
  background-color: $primary-color;
  color: white;
}

.bg-error {
  background-color: $error-color;
  color: white;
}

.bg-success {
  background-color: $success-color;
  color: white;
}

.bg-white {
  background-color: $white;
}

.bg-smoke {
  background-color: $smoke;
}

.bg-dark {
  background-color: $dark;
  color: white;
}

.bg-light-gray {
  background-color: $light-gray;
}