.btn-icon {
    border: 1px solid #ececec;
    width: 4rem;
 
    box-shadow: $button-shadow;
    display: flex;
    justify-content: center;
    color: $black;
    background-color: $white;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    transition: all $speed-sm ease;

    &:hover {
        border-color: $primary-color;
        background-color: $btn-default-light;

    }
}

.btn {
    border: 1px solid #ececec;
    padding: 12px 16px;
    box-shadow: $button-shadow;
    display: flex;
    justify-content: left;
    align-items: left;
    color: $black;
    background-color: $white;
    position: relative;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    transition: all $speed-sm ease;

    p {
        // ellipsis overflow 1 line
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;

    }

    &-no-border {
        border: none;
    }

    &:hover {
        border-color: $primary-color;
        background-color: $btn-default-light;

    }

    &-rounded {
        border-radius: $radius-lg;
    }

    &-primary {

        background-color: $primary-color;
        color: $white;

        &:hover {

            background-color: $primary-color-dark;

        }


    }

}