.date-picker {
  padding: 12px 16px;
  background-clip: padding-box;
  width: 100%;
  border-width: $border-width;
  border-color: $smoke;
  font-size: $font-size-sm;  
  border-style: solid;
  transition: all $speed-md;
  &:hover {
    cursor: pointer;
    color: $black;
    background-color: $smoke;
  }
}

.search-input {
  font-size: $font-size-sm;
}