@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");




:root {
    font-family: 'Quicksand', sans-serif;
}



html {
    scroll-behavior: smooth;

}

body {

    margin: 0;
    padding: 0;
    font-size: $font-size-sm;
    line-height: $line-height-md;
    letter-spacing: 0;

}





.btn {

    padding: $paddings-lg;

    text-align: left;
    transition: all $speed-sm;

    background-color: white;

    span {
        margin-left: $paddings-md;
    }

    &:hover {
        cursor: pointer;
        color: $black;
        background-color: $btn-default-light;

    }

    &-text-center {
        text-align: center;
    }



    &-no-border {
        border: none;
    }

    &-no-rounded {
        border-radius: 0;
    }

    &-dark {
        border: $btn-dark;
        background-color: $btn-dark;
        color: white;

        &:hover {
            cursor: pointer;
            color: white;
            background-color: $btn-dark;
        }

    }

    &-dark-light {
        border: $btn-dark-light;
        background-color: $btn-dark-light;
        color: white;

        &:hover {
            cursor: pointer;
            color: white;
            background-color: $btn-dark;
        }
    }


    &-primary {

        background-color: $primary-color;
        border-color: $primary-color;
        color: white;

        &:hover {
            color: white;
            background-color: $primary-color-dark;
        }
    }

    &-error {
        background-color: $error-color;
        color: white;

        &:hover {
            color: white;
            background-color: $error-color-dark;
        }
    }

    &-green {
        background-color: $success-color;
        color: white;

        &:hover {
            color: white;
            background-color: $success-color-dark;
        }
    }

    &-black-outline {

        color: $dark;
        border-color: $btn-default-light;
        border-width: 1px;

        &:hover {

            background-color: $btn-default-light;
        }
    }

    &-error-outline {

        color: $error-color;
        border-color: $error-color;
        border-width: 1px;

        &:hover {
            color: white;
            background-color: $error-color;
        }
    }


}

.dot {
    height: 1rem;
    width: 1rem;
    background-color: var(--color);
    border-radius: 50%;
    display: inline-block;
}