@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

:root {
    font-family: 'Lato', sans-serif;
}


html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    background-color: white;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
    color: #000000;
    line-height: 1.75;
}


h1,
h2,
h3,
h4,
h5,
h6 {


    line-height: 1.2;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -.1px;
    letter-spacing: 0.02rem;

}

li,
label,
span,
p {
    font-size: $font-size-sm;
    line-height: 1.5;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -.1px;
}


.text {

    &-title {
        font-size: $font-size-xxl;
        line-height: 25px;
        font-weight: 800;
        letter-spacing: -.04em;
    }

    &-subtitle {
        font-size: $font-size-lg;
        line-height: 25px;
        font-weight: 400;
        letter-spacing: -.04em;
    }

    &-no-spacing {
        line-height: 0.75;
        /* Adjust line height to remove spacing */
    }

    &-primary {
        color: $primary-color;
    }
}


.navbar {
    width: 100%;
    z-index: 100;
    position: fixed;
    height: 4rem;
}

.main {
    display: flex;
    flex-direction: column;

    padding-top: 4rem;
    height: calc(100vh - 4rem);
}

.map {
    min-height: calc(100vh - 4rem);
}

hr {
    border: none;
    height: 1px;
    background-color: #e6e8de;
}

.dot {
    height: 1rem;
    width: 1rem;
    background-color: var(--color);
    border-radius: 50%;
    display: inline-block;
}