@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $dark;
    text-align: left;
    background-color: $white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.text-error {
    color: $error-color;
}

.text-success {
    color: $success-color;
}



.btn {
    color: white;
    padding: $paddings-lg;
    text-align: left;
    transition: all 200ms;
    border-radius: $radius-lg;
    border-width: 1px;
    border-style: solid;
    width: 100%;

    &:hover {
        cursor: pointer;
        color: $black;
        background-color: $btn-default-light;
    }



    &-no-border {
        border: none;
    }

    &-no-rounded {
        border-radius: 0;
    }


    &-primary {
        background-color: $primary-color;

        &:hover {
            color: white;
            background-color: $primary-color-dark;
        }
    }

    &-error {
        background-color: $error-color;

        &:hover {
            color: white;
            background-color: $error-color-dark;
        }
    }

    &-green {
        background-color: $success-color;

        &:hover {
            color: white;
            background-color: $success-color-dark;
        }
    }

    &-black-outline {
        color: $dark;
        border-color: $dark;

        &:hover {

            background-color: $btn-default-light;
        }
    }

    &-error-outline {
        color: $error-color;
        border-color: $error-color;

        &:hover {
            color: white;
            background-color: $error-color;
        }
    }

    &-gray-sm {
        background-color: $btn-default;
        border-color: $btn-default-light;

        &:hover {
            background-color: $btn-default-light;
        }
    }

    &-pagination-primary-sm {
        background-color: $primary-color;
        color: white;

        &:hover {
            background-color: $primary-color-light;
        }
    }
}

.dot {
    height: 1rem;
    width: 1rem;
    background-color: var(--color);
    border-radius: 50%;
    display: inline-block;
}