// General colors
$dark: #0e0e0e;
$black: #000000;
$gray: #747474;
$white: #ffffff;
$smoke: #f9fafc;

// Main colors
$primary-color: #3f51b5;
$primary-color-light: #4152ae;
$primary-color-dark: #324090;

$success-color: #58b34c;
$success-color-dark: #0d5541;
$success-color-light: #99ddcf;

$error-color: #b42929;
$error-color-dark: #961f1f;
$error-color-light: #fee2e2;

// Utilities
$speed-sm: 0.25s;
$speed-md: 0.5s;
$speed-lg: 1s;
$speed-xl: 1.25s;

$font-size-sm: 0.70rem;
$font-size-md: 0.85rem;
$font-size-lg: 1.0rem;
$font-size-xl: 1.2rem;

$radius-sm: 0.25rem;
$radius-md: 0.375rem;
$radius-lg: 0.5rem;
$radius-xl: 1rem;
$border-width: 1px;

$shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
$button-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
$card-shadow: 0 0 15px -6px rgba(0, 0, 0, 0.5);