.table td {
  border-bottom: 1px solid #ddd;

  text-align: left;
  transition: all $speed-md;

}

.table tr {
  transition: all $speed-md;

  &:nth-child(even) {
    background-color: $light-gray;
  }

  &:hover {
    background-color: $light-warning;
  }
}

.table th {
  font-weight: 400;

  text-align: left;
  transition: all $speed-md;

  &:first-child {

    background-color: $primary-color;
    color: white;

    &:hover {
      cursor: pointer;
      color: white;
      background-color: $primary-color-dark;
    }
  }

  &:nth-child(n+2) {
    background-color: $dark;
    color: white;

    &:hover {
      cursor: pointer;
      color: white;
      background-color: $gray;
    }
  }

}